.div-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-toolbar {
  width: 100%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.div-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.div-new-thread {
  margin: 2rem 0;
  padding: 1rem .7rem;
  max-width: 40rem;
  width: 80%;
}

.fom-new-thread {
  display: flex;
  flex-direction: column;
}

.txt-content {
  min-height: 8rem;
  margin: 1rem 0;
}

.div-theme-title {
  margin: 2rem 0;
  text-align: center;
  padding: 0 .7rem;
}

.spn-title {
  font-size: 1.3rem;
}

.div-watch {
  margin: 2rem 0;
  padding: 0, .7rem;
}

.div-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 1rem 0;
  padding: 1rem 0;
}

.mc-message {
  max-width: 40rem;
  width: 80%;
  background: #fbf9f9;
  margin: .5rem 0;
}

.spn-message-content {
    line-height: 1.7;
    padding-left: 2rem;
}