<div class="div-layout">
  <div class="div-toolbar">
    <mat-toolbar color="primary">
      <span>chan.myFor</span>
    </mat-toolbar>
  </div>
  <div class="div-content">
    <div class="div-theme-title">
      <p><span class="spn-title" title="我们不会留下你的任何记录" (click)="clickTitle_NoRecord()">在这里没有人知道你是谁</span></p>
      <p><span class="spn-subtitle" *ngIf="showNoRecord">我们不会留下你的任何记录</span></p>
      <p><span class="spn-title" title="早上5点所有的留言都会清除" (click)="clickTitle_ClearRecord()">当今天过去, 这里的曾经都不复存在</span></p>
      <p><span class="spn-subtitle" *ngIf="showClearRecord">早上5点所有的留言都会清除</span></p>
    </div>

    <div class="div-new-thread">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header color="primary">
            <mat-panel-title>
              <span>留 言</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <form class="fom-new-thread">
            <textarea class="txt-content" #content matInput name="content" rows="4" (keyup)=input(content.value)
              maxlength="1024" placeholder="想说点什么就说吧..."></textarea>
            <span>还可以输入 {{remainWrodCount}} 个字</span>
            <mat-action-row>
              <button type="button" mat-raised-button color="primary" [appDisabled]="isDisabled"
                (click)="submitNewMessage()">确 定</button>
            </mat-action-row>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div class="div-watch" id="div_watch">
    <button mat-raised-button color="primary" (click)="lastest()">
      <span>最 新</span>
    </button>
    <button mat-raised-button color="primary" (click)="watch()">
      <span>{{watchText}}</span>
    </button>
  </div>

  <div class="div-list">
    <mat-progress-bar mode="buffer" *ngIf="isListLoad"></mat-progress-bar>

    <mat-card class="mc-message" *ngFor="let message of resultData.list">
      <mat-card-header>
        <mat-card-subtitle>
          <span>{{message.author}}</span>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          <span class="spn-message-content">
            {{message.content}}
          </span>
        </p>
      </mat-card-content>
    </mat-card>

    <mat-paginator *ngIf="havePagination"
      [length]="resultData.totalSizes"
      [pageSize]="resultData.size"
      (page)="pageChange($event)">
    </mat-paginator>

  </div>
</div>
