<div class="div-layout">
  <div class="div-toolbar">
    <mat-toolbar color="primary">
      <span>TOP BAR</span>
    </mat-toolbar>
  </div>

  <div class="div-theme-title">
    <p><span class="spn-title">在这里没有人知道你是谁</span></p>
    <p><span class="spn-title">当今天过去, 这里的曾经都不复存在</span></p>
  </div>

  <div class="div-new-thread">
    <form>
      <input type="text" name="" placeholder="no name"/>
    </form>    
  </div>

  <button mat-raised-button color="primary">MATERIAL BUTTON</button>
</div>
