.div-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-toolbar {
    width: 100%;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.div-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-new-thread {
    margin: 2rem 0;
    padding:1rem .7rem;
}

.fom-new-thread {
    display: flex;
    flex-direction: column;
    min-width: 30rem;
}

.txt-content {
    min-width: 30rem;
    min-height: 8rem;
    margin: 1rem 0;
}

.div-theme-title {
    margin: 2rem 0;
    text-align: center;
    padding: 0, .7rem;
}

.spn-title {
    font-size: 1.3rem;
}

.div-watch {
    padding: 0, .7rem;
}

.div-list {
    min-width: 35rem;
    width: 70%;
    margin: 1rem 0;
    padding: 1rem;
}